# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
.venv/
env/

# Test Reports
.pytest_cache/
test-results.xml

# IDE
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

# Environment Variables
.env

# Logs
*.log

# Python cache
*.egg-info/
dist/
build/

# Docker
*.tar